*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 2950px;
    font-family: "pt-sans",sans-serif;
    position: relative;
}
section {
    padding: 50px 0;
}
.container{
    width: 80%;
    margin: auto;
}
.links,.product-overlay li ,.list,.list-unstyled,.list-product,.products-items{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 150px;
    padding-top: 50px;
}
nav ul li {
    position: relative;
}
nav ul li .link-items:before,nav ul li .link-items:after{
    content:"";
    position: absolute;
    border-style: solid; 
    left: 0;
    top:0; 
    transform: 0.2s;
}
nav ul li .link-items:before{
    border-width: 0 1.5px;
    height: 100%; 
    width: 95%;
    transform: scale3d(1,0,1);
}
nav ul li .link-items:hover:before{
    transform: scale3d(1,2,1);
    color:#7b5244;
}
nav ul li .link-items:after{
    border-width: 1.5px 0;
    height: 91%; 
    width: 98%;
    transform: scale3d(0,1,1);
    transform-origin: left;
}
nav ul li .link-items:hover:after{
    transform: scale3d(1,2,1);
    transition-delay: 0.2s;
    color: #7b5244;
}
.header-contect ,.list-product,.bullets,.sprites,.discount,.links li ,.list-unstyled ,.Special-category ,.top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.header-contect img{
    height: 50px;
    width: 150px;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    margin-top: 30px;
    padding-top:15px ;
    position: absolute;
    display: grid;
    width: 600px;
    height: 200px;
    border-radius: 2px solid  #7b5244;
    border-radius: 10px;
    background-color: #fffdfc;
    grid-template-columns: repeat(3,33%);
    grid-auto-rows: minmax(220px , auto);
    opacity: 0;
    visibility: hidden;
}
.dropdown:hover .dropdown-menu{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}
.dot{
    width: 150px;
    margin: 3px 0px;
    border: 1px dotted brown;
}
.list .items {
    display: grid;
}
.dropdown-menu .list {
    margin-left: 8px;
}
nav{
    margin-top: 15px;
}
.link-items ,.login .list-unstyled li span {
    font: normal bold 18px  "pt-sans",sans-serif;
}
.link-items,.product-overlay li ,.login .list-unstyled li span ,.dropdown-menu li a ,.links li ,.login li  ,.login .list-unstyled li span{
    color: #7b5244;
}
.links li ,.login li  ,.login .list-unstyled li span{
    display: inline;
    margin: 15px 9px 0 0 ;
}
.login .list-unstyled li span{
    margin-left: 4px;
}
.main .container img{
    margin-top: -50px;
}
.header-section{
    text-align: center;
    color:#503830;
    margin-top: -50px;
    font:normal bold 25px "pt-sans",sans-serif;
}
.header-section .line{
    width: 100px;
    border: 1px solid #7b5244;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-section:hover .line{
    transition: 0.5s;
    transform: scalex(2);
}
.section1 .category-items{
    width: 23%;
    background-color: rgb(255, 255, 255)
}
.category-items h4 ,.discound-itmes-info-title h3{
    margin-top: 30px;
    color: #7b5244;
    font: normal normal 20px 'Poppins', sans-serif;
}
.category-items h2{
    display: inline-block;
    color: #333;
    font: normal bold 20px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.category-items i{
    background-color:brown ;
    color: #eeeeee;
    margin-left: 10px;
    text-align: center;
    visibility: hidden;
}
.category-items:hover  i{
    visibility: visible;
}
.discount{
    margin-top: 30px;
    color: #7b5244;
    position: relative;
}
.discound-inf{
    width: 47.6%;
    background-color:#fcf3ee ;
    padding-top: 50px;
}
.discound-itmes-info{
    position: relative;
    width: 23%;
    background-color: #eeeeee;
}
.discound-itmes-info-title{
    position: absolute;
    margin-left: 15px;
} 
.discound-inf .top  i{
    font-size: 75px;
    margin-left: -150px;
}
.discound-inf .top .top-title{
    display: block;
    margin-left: -200px; 
    margin-top: -15px;
}
.top{
    margin-left: -50px;
}
.discound-inf p{
    width: 95%;
    padding-top: 30px;
    margin: auto;
}
.discount .bullets span{
    width: 50px;
    background-color: black;
    border: 1px solid rgb(62, 45, 45);
    height: 2px;
    margin: 80px -310px 0px 0px ;
}
.sprite-items{
    margin-top: 20px;
    width: 200px;
    height: 200px;
}
.sprite-items .sprite-icon{
    margin-top: 20px;
    margin-left: 70px;
    color: gray;
    column-rule: 6px dotted brown;
}
.sprite-items .sprite-info{
    padding-top: 20px;
    text-align: center;
}
hr{
    width: 80%;
    margin: 2px auto;
}
.sprite-icon-3,.sprite-icon-4,.sprite-icon-5,.sprite-icon-2,.sprite-icon-1{
    width: 100px;
    height:100px; 
    overflow: hidden;
    position: relative;
}
.sprite-icon-3 img ,.sprite-icon-4 img,.sprite-icon-5 img,.sprite-icon-1 img,.sprite-icon-2 img{
    position: absolute;
    transition: 0.5s;
}
.img1{
    top:100px;
    left: 0;
}
.sprite-items:hover img{
    transform: translateY(-100px);
}
.vertical-line {
    width: 1px;
    height: 200px;
    background-color: rgb(74, 62, 62);
    margin: 20px 10px 0px  10px;
}
.list-product{
    width: 50%;
    margin: 40px auto ;
}
.products-items{
    display: grid;
    grid-template-columns: repeat(3,35%);
    grid-auto-rows: minmax(200px , auto);
    column-gap: 10px;
    row-gap: 5%; 
}
.product-item{
    position: relative; 
    width:98%;
}
.product-overlay{
    height: 450px;
    position: absolute;
    top:0;
    background-image: url(../images/logo/logo.jpg);
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    visibility:hidden;
    transform:rotateY(90deg);
    opacity: 0;
    transition: 0.2s;
}
.product-item:hover .product-overlay{
    visibility: visible;
    opacity: 0.8;
    transform: scalex(1);
}
.product-overlay li {
    font-size: 40px;
    display: inline;
    margin: auto;
} 
.product-overlay ul{
    text-align: center;
    padding-top: 80%;
    z-index: 1;
}
.prodict-info .stars {
    color: gold;
    margin: 5px 0;
}
.prodict-info h3{
    margin: 5px 0;
}  

